<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <ctx:component-scan base-package="simpleshop">
        <ctx:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </ctx:component-scan>
    <ctx:annotation-config/>

    <bean id="objectMapper" class="simpleshop.common.ObjectMapperFactory" factory-method="create" />

    <bean id="jsonConverter" class="simpleshop.common.JsonConverter" >
        <property name="objectMapper" ref="objectMapper" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:d:/dev/data/simpleshop;create=true;"/>
        <property name="username" value="dbo"/>
        <property name="password" value=""/>
    </bean>

    <bean id="hibernateInterceptor" class="simpleshop.data.infrastructure.impl.HibernateInterceptor" />
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="simpleshop.domain"/>
        <property name="entityInterceptor" ref="hibernateInterceptor"/>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven />

    <!--
    <bean id="conversionService" class="org.springframework.core.convert.support.DefaultConversionService" />
    -->
</beans>