@charset "UTF-8";

/* Include this file in your html if you are using the CSP mode. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

//region COLOURS
$color-arrow: #262626;
//endregion

//region HELPERS
.cursor-pointer {
  cursor: pointer;
  padding-left: 1em;
}

.cursor-pointer:hover {
  color: orange;
  font-weight: 600;
}

.visibility-hidden {
  visibility: hidden;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-top-1em {
  padding-top: 1em;
}

.padding-bottom-1em {
  padding-bottom: 1em;
}

//endregion

//region GLOBAL
html {
  overflow-y: scroll;
}

body {
  background: #fafafd url("../img/bg_main.jpg");

  &.in-progress {
    cursor: progress;
  }
}

.page-body {
  margin: 2em 0.5em;
}

.hide-children > *:not(.display) {
  display: none;
}

.display ~ .no-display-predecessor {
  display: none;
}

.errors p {
  color: red;
}

.caption a:hover {
  text-decoration: none;
}

@mixin col-xl {
  float: left;
  position: relative;
  min-height: 1px;
}

@media (min-width: 1600px) {
  .col-xl-9 {
    @include col-xl;
    width: 75%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-xl-4 {
    @include col-xl;
    width: 33.33333333%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-xl-3 {
    @include col-xl;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-xl-2 {
    @include col-xl;
    width: 16.66666667%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col-md-6 {
  padding-right: 10px;
  padding-left: 10px;
}

//endregion

//region HEADER
.page-header {
  background: url("../img/header_bg.png") repeat scroll 0 0 #ebeaef;
  border-radius: 0.5em;
  padding-left: 2em;
  padding-bottom: 12px;
  margin-bottom: 10px;

  small {
    color: #555;
    font-size: 0.9em;

    &:hover {
      position: relative;
      left: -1px;
      top: -1px;
      text-shadow: #aaa 0.07em 0.04em 0.02em;
    }
  }

  a:hover, a:focus {
    text-decoration: none;
  }
}

@mixin headerBackground {
  background: linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
}

.navbar-fixed-top {

  .navbar-brand {
    font-family: Oswald, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
  }

  .container-fluid {
    @media (min-width: 768px) {
      @include headerBackground;
    }
  }

  .navbar-header {
    @media (max-width: 767px) {
      @include headerBackground;
    }
  }

  .dropdown-menu.result li.ng-scope {
    width: 15em;
  }

  .dropdown-menu.result li.ng-scope a {
    overflow: hidden;
    border-top: 1px solid #ccc;
    padding-right: 5px;
  }

  .dropdown-menu.result li.ng-scope span {
    float: left;
  }

  .dropdown-menu.result li.ng-scope span.glyphicon {
    float: right;
    margin-left: 0.8em;
  }

  .dropdown-menu.result li.ng-scope span.glyphicon:hover {
    text-shadow: 0.2em 0.1em 0.3em #777;
    position: relative;
    left: -0.2em;
    top: -0.1em;
    border-radius: 0.5em;
  }
}

//endregion

//region NOTIFICATION
.status-bar {
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 20em;

  li {
    background-color: floralwhite;
  }
}

#messageNoView {
  background-image: url("../img/title_bg.png");
}

/*fix bug in ui-bootstrap*/
.modal-backdrop {
  bottom: 0;
  position: fixed;
}

.msgbox {
  margin-top: 1.5em;
}

//endregion

//region VIEW & PANEL
.view {
  padding: 0.1em;

  .create-view > .panel-body {
    padding-bottom: 0;
  }

  .list-view > .panel-body {
    padding-bottom: 0;
  }

  .update-view > .panel-body {
    padding-bottom: 0;
  }

  .search-view > .panel-body {
    padding-bottom: 0;
  }

  > .panel {
    padding-bottom: 4px;
    box-shadow: 5px 3px 4px rgba(128, 128, 128, 0.85);

    > .panel-heading {
      background-image: url("../img/title_bg.png");
    }
  }

  .panel {
    margin-bottom: 1em;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #fffffd), color-stop(100%, #effffd));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fffffd 47%, #effffd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#effffd', GradientType=0);

    .panel-heading .glyphicon {
      font-size: 1.3em;
    }

    .panel-body {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+31,ededed+36,ffffff+100 */
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 31%, #ededed 36%, #ffffff 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(31%, #f3f3f3), color-stop(36%, #ededed), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 31%, #ededed 36%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 31%, #ededed 36%, #ffffff 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 31%, #ededed 36%, #ffffff 100%); /* IE10+ */
      background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 31%, #ededed 36%, #ffffff 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    }
  }

  .tile-main .caption {
    position: relative;
    top: -2.5em;
    right: 2em;
    float: right;
  }
}
//endregion

//region CONTROLS


.bg-info {
  padding: 1.5em;
}

.label a {
  color: #fbfbfb;
  cursor: pointer;
  text-decoration: none;
}

.label a:hover {
  color: orange;
  text-decoration: none;
}

.title-text {
  font-weight: 600;
}

.combo-list {
  .list-group-item {
    cursor: pointer;

    &:hover {
      color: #23527c;
    }
  }

  a:hover {
    text-decoration: none;
  }

}

.list-group-item {
  background-color: transparent;
}

a.list-group-item {
  &:hover {
    color: #428bca;
  }

  .label {
    font-weight: 300;
  }
}

.panel-body > fieldset {
  clear: both;

  > legend {
    margin-top: 0.5em;
    font-size: 1.34em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}

.field-label {
  font-weight: normal;
  font-size: 1.2em;
}

.field-label input {
  border-style: none;
  cursor: pointer !important;
  color: darkblue;
  margin-left: 0;
}

.details-field {
  padding-bottom: 3px;
}

.details-field .row {
  border-left: 0.2em solid crimson;
}

.details-inline-list .row {
  border-left: 0.2em solid crimson;
}

.details-child-list {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.inline-list span.label {
  margin-right: 0.5em;
}

.inline-list .label {
  font-weight: 300;
}

.edit-inline-list .items-container {
   padding-top: 0.5em;
 }

.items-container .glyphicon {
  cursor: hand;
}

.items-container .label {
  padding: 0.25em;
}

.items-container span.glyphicon {
  cursor: pointer;
  margin-left: 0.35em;
}

.items-container span.glyphicon:hover {
  color: orange;
}

.carousel-control {
  cursor: pointer;
}

.carousel-container {
  margin-bottom: 1em;
  text-align: center;
  padding: 0;
}

.carousel-container .alert {
  margin-bottom: 0;
}

.carousel-container img {
  margin: auto;
}

.spg-carousel img {
  height: 25em !important;
}

.carousel-container.details-img img {
  max-width: 100%;
  height: auto;
}

.carousel-container a {
  text-decoration: none;
  display: block;
}

.carousel-container a:hover {
  text-decoration: none;
  color: orange;
  font-weight: 500;
}

.image-list {
  padding-left: 0;
}

.image-list img {
  max-width: 100%;
  height: auto;
}

.image-list > li {
  list-style: none;
  position: relative;
  font-size: 1.5em;
}

.image-list > li .glyphicon {
  position: absolute;
  cursor: pointer;
  margin: 0.25em;
}

.image-list > li .glyphicon:hover {
  color: #23527c;
}

.edit-image-list input[type="file"] {
  color: transparent;
  margin-bottom: 1em;
  margin-top: 0.25em;
}

.input-group {
  input.form-control {
    top: 1px;
  }

  &.date .form-control {
    top: 0;
  }

  .input-group-addon .glyphicon {
    padding-left: 0;
  }

  > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.ui-datepicker.ui-widget {
  z-index: 100 !important;
}

.panel-body .panel-body {
  background-color: #fafbfa;
}

.nav-tabs .active a {
  background-color: #fafbfa !important;
}

input.ng-valid ~ .pattern-validation {
  display: none;
}

input.ng-invalid.ng-dirty {
  border-color: red;
}

.tab-content {
  background-color: #fafbfa;
  border-right: 1px solid #ddd;
}

.pager {
  margin-top: 0;
}

.view .well {
  margin:1em;
}
//endregion

//region FOOTER
footer {
  > .col-xs-8 {
    text-align: center;
  }

  hr {
    border: 0;
    height: 1pt;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

}
//endregion

//region SPECIAL
.bg-glow {
  -webkit-animation: glow-frames 0.8s infinite; /* Chrome, Safari, Opera */
  animation: glow-frames 0.8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow-frames {
  from {
    -webkit-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
    -moz-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
    box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
  }
  to {
    -webkit-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
    -moz-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
    box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
  }
}

@keyframes glow-frames {
  from {
    -webkit-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
    -moz-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
    box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
  }
  to {
    -webkit-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
    -moz-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
    box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
  }
}

@mixin arrow-common {
  margin-top: 5px;
  width: 0;
  height: 0;
  cursor: pointer;
}

.arrow-up {
  @include arrow-common;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $color-arrow;
}

.arrow-down {
  @include arrow-common;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $color-arrow;
}

.arrow-right {
  @include arrow-common;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $color-arrow;
}

.arrow-left {
  @include arrow-common;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $color-arrow;
}

//star wars widget
.viewport {
  background-color: #222;
  border: 2px solid blue;
}

.scrolling {
  font-size: 1.8em;
  padding: 0 3em;
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  height: 10em;
  overflow: hidden;
}

.scrolling div {
  color: #FFD801;
  font-family: Arial, serif;
  position: relative;
}
//endregion