
body {
    background: #fafafd url("../img/bg_main.jpg");
}

.navbar-brand {
    font-family: Oswald, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

#topNav {
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
}

.errors p {
    color: red;
}

.caption a:hover {
    text-decoration: none;
}

body.in-progress {
    cursor: progress;
}

.tab-content {
    background-color: #fafbfa;
    border-right: 1px solid #ddd;
}

.view > .panel {
    box-shadow: 5px 3px 4px rgba(128, 128, 128, 0.85);
}

.panel-body .panel-body {
    background-color: #fafbfa;
}

.nav-tabs .active a {
    background-color: #fafbfa !important;
}

.list-group-item {
    background-color: transparent;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}

.bg-glow {
    -webkit-animation: glow-frames 0.8s infinite; /* Chrome, Safari, Opera */
    animation: glow-frames 0.8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow-frames {
    from {
        -webkit-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
        -moz-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
        box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
    }
    to {
        -webkit-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
        -moz-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
        box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
    }
}

@keyframes glow-frames {
    from {
        -webkit-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
        -moz-box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
        box-shadow: inset 0 0 0 3px rgba(175, 209, 88, 0.7);
    }
    to {
        -webkit-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
        -moz-box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
        box-shadow: inset 0 0 8px 6px rgba(175, 209, 88, 0.7);
    }
}

.input-group > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pageHeader {
    background: url("../img/header_bg.png") repeat scroll 0 0 #ebeaef;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.page-header small {
    color: #555;
    font-size: 0.9em;
}

.page-header small:hover {
    position: relative;
    left: -1px;
    top: -1px;
    text-shadow: #aaa 0.07em 0.04em 0.02em;
}

#messageNoView {
    background-image: url("../img/title_bg.png");
}

.view > .panel > .panel-heading {
    background-image: url("../img/title_bg.png");
}

.panel {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #fffffd), color-stop(100%, #effffd));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fffffd 47%, #effffd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#effffd', GradientType=0);
}

footer hr {
    border: 0;
    height: 1pt;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*fix bug in ui-bootstrap*/
.modal-backdrop {
    bottom: 0;
    position: fixed;
}

.panel-body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+31,ededed+36,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 31%, #ededed 36%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(31%,#f3f3f3), color-stop(36%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 31%,#ededed 36%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 31%,#ededed 36%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 31%,#ededed 36%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 31%,#ededed 36%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

a.list-group-item:hover{
    color:#428bca;
}

a.list-group-item .label{
    font-weight: 300;
}

.inline-list .label{
    font-weight:300;
}

.combo-list .list-group-item {
    cursor: pointer;
}

.combo-list a:hover{
    text-decoration: none;
}