
.navbar-brand{
    font-family: Oswald,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

.errors p {
    color: red;
}


body.in-progress {
    cursor: progress;
}

.tab-content{
    background-color: #fafbfa;
    border-right: 1px solid #ddd;
}

.panel-body .panel-body{
    background-color: #fafbfa;
}

.nav-tabs .active a {
    background-color: #fafbfa !important;
}

.list-group-item {
    background-color: transparent;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}

.bg-glow {
    -webkit-animation:  glow-frames 0.8s infinite; /* Chrome, Safari, Opera */
    animation:          glow-frames 0.8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow-frames {
    from {
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
    }
    to {
        -webkit-box-shadow: inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
    }
}

@keyframes glow-frames {
    from {
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
    }
    to {
        -webkit-box-shadow: inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
    }
}
