
body{
   background-color: #fafafd;

}

.navbar-brand{
    font-family: Oswald,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

.errors p {
    color: red;
}


body.in-progress {
    cursor: progress;
}

.tab-content{
    background-color: #fafbfa;
    border-right: 1px solid #ddd;
}

.view>.panel {
    box-shadow: 5px 3px 4px rgba(128, 128, 128, 0.85);
}

.panel-body .panel-body{
    background-color: #fafbfa;
}

.nav-tabs .active a {
    background-color: #fafbfa !important;
}

.list-group-item {
    background-color: transparent;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}

.bg-glow {
    -webkit-animation:  glow-frames 0.8s infinite; /* Chrome, Safari, Opera */
    animation:          glow-frames 0.8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow-frames {
    from {
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
    }
    to {
        -webkit-box-shadow: inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
    }
}

@keyframes glow-frames {
    from {
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 0px 3px rgba(175, 209, 88, 0.7);
    }
    to {
        -webkit-box-shadow: inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        -moz-box-shadow:    inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
        box-shadow:         inset 0px 0px 8px 6px rgba(175, 209, 88, 0.7);
    }
}

.input-group > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


#pageHeader {
    background: url("../img/header_bg.png") repeat scroll 0 0 #ebeaef;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.page-header small {
    color: #555;
    font-size: 0.9em;
}

.page-header small:hover {
    position: relative;
    left: -1px;
    top: -1px;
    text-shadow: #aaa 0.07em 0.04em 0.02em;
}

#messageNoView {
    background-image: url("../img/title_bg.png");
}

.view>.panel>.panel-heading{
    background-image: url("../img/title_bg.png");
}

.panel {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fffffd 47%, #effffd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#fffffd), color-stop(100%,#effffd));
    background: -webkit-linear-gradient(top, #ffffff 0%,#fffffd 47%,#effffd 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#fffffd 47%,#effffd 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#fffffd 47%,#effffd 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#fffffd 47%,#effffd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#effffd',GradientType=0 );
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*fix bug in ui-bootstrap*/
.modal-backdrop{
    bottom: 0;
    position: fixed;
}